<% image_url = comment.user.facebook_picture_url || comment.user.photo.url || "http://placehold.it/60" %>
<div class="message">
  <%= image_tag image_url, class: 'avatar-xs' %>
  <div class="message-text-container">
    <div class="message-name">
      <h3><%= comment.user.first_name %> :</h3>
      <h3><%= comment.updated_at.to_s(:time) %></h3>
    </div>
    <div class="message-content">
      <p><%= comment.content %></p>
    </div>
  </div>
</div>
