.event-container {
  flex: display;
  margin: 0 auto;
  padding: 10px 40px;
}
.event-container-left {
  flex-basis: 70%;
  margin-top: 20px;
  margin-left: 20px;
}
.event-container-right {
  flex-basis: 30%;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

#event-map {
  height: 350px;
  background: white;
  margin-bottom: 20px;
  margin-top: 0;
}
.event-banner {
  height: 350px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.27);

  position: relative;
  background-size: cover;
  background-position: center;
  h1 {
    input {
      background-color: transparent;
      border: none;
      width: 600px;
      display: inline;
      &:focus {
        outline: none;
      }
    }
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 10px 0 0 0;
    font-size: 1.4em;
    font-weight: $font-weight-normal;
  }
  p {
    color: white;
    padding: 0;
    margin: 0;
  }
  .event-banner-location {
    font-style: italic;
    font-weight: $font-weight-light;
    color: rgba(255, 255, 255, 0.87);
    font-size: 0.9em;
    padding-bottom: 15px;
  }
  .event-banner-date {
    font-size: .95em;
    color: rgba(255, 255, 255, 0.87);
  }
}
.event-details {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.event-box {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.13);
  background-color: #f9f9f9;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  margin-bottom: 20px;
  h3 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 26px;
  }
}
.event-guest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px 20px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  p {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
.event-guest-name {
  display: flex;
  align-items: center;

  h3 {
    margin-top: 0;
    margin-left: 0;
  }

  color: transparentize($navy, .4);

}
.event-guest-pay {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: $main-green;
}

.status.pending {
  color: red;
}
.avatar-xs{
  width: 30px;
  border-radius: 50%;
  margin: 2px 4px 2px 4px;
  align-self: center;

}
.comments-box {
  position: sticky;
  height: 550px;
  top: 20px;
  overflow: auto;
}
.comments-form {
  margin: 20px 20px 20px 20px;
}
 .comments-form h3 {
    font-size: 16px;
    margin-top: 0;
  }
.message {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.message-text-container {
  flex-grow: 1;
  width: 32px;
}
.message-name {
  display: flex;
  justify-content: space-between;
  h3 {
    font-size: 10px;
    margin-left: 0;
    margin-bottom: 5px;
  }
}
.message-content {
  background: #ccc;
  color: $navy;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.15);
  text-align: left;
  border-radius: 2px;
  font-size: 16px;
   p {
    margin-bottom: 0;
    padding: 5px 5px 5px 5px;
  }
}



.event-guest-image {
  border-radius: 50%;
  margin-right: 30px;
  box-shadow: 0 0 0 3px lightblue;
  width: 60px;
  height: 60px;
}

.edit_event_title_button {
  background: transparent;
  border: none;
  color: white;
  width: 80px;
  font-size: 1em;
  transition: all .2s;
  opacity: .8;
  &:hover {
    background: transparent;
    color: white;
    opacity: 1;
  }
  &:active {
    background-color: transparent;
    outline: none;
  }
  &:focus {
    outline: none;
  }
}
#comments {
  text-align: center;
}
