.course-profile {
  background-color: #f4f4f4;
  width: 80%;
  margin: 20px auto;
  position: relative;
}
.course-card {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.course-details {
  border-radius: 2px;
  position: relative;
  margin-left: 10px;
  background-color: #f4f4f4;
  color: black;
}
.course-name h2 {
  font-family: $header-font;
  margin-top: 6px;
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: bold;
}
.course-description {
  font-family: $base-font;
  margin: 0;
}
.edit-description-textarea {
  background-color: #f9f9f9;
  border: solid 1px rgba(0, 0, 0, 0.1);
}
.course-location {
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-family: $base-font;
  font-size: 14px;
  font-style: italic;
  color: lighten($navy, 25%);
  p {
    margin: 0;
  }
}

.dashboard--content {
  margin: 0 auto;
  padding-bottom: 0;
}

.course-description h2 {
  margin-top: 0;
  font-size: 38px;
  color: $navy;
}
.show--content {
  margin-left: 0;
}
.course-hole-name {
  width: 100px;
}
.course-hole-par {
  width: 100px;
}
.course-hole {
  display: flex;
}
