.course-profile {
  background-color: #f4f4f4;
  width: 80%;
  margin: 20px auto;
  position: relative;
}
.course-card {
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.course-pic {
  img {
    width: 20vh;
    height: 20vh;
    border-radius: 2px;
  }
}
.course-details {
  border-radius: 2px;
  position: relative;
  margin-left: 10px;
  background-color: #f4f4f4;
  color: black;
}
.course-name h2 {
  font-family: $header-font;
  margin-top: 6px;
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: bold;
}
.course-description {
  font-family: $base-font;
  color: lighten($navy, 25%);
  font-size: 14px;
  margin: 0;
}
.course-location {
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-family: $base-font;
  font-size: 14px;
  font-style: italic;
  color: lighten($navy, 25%);
  p {
    margin: 0;
  }
}
