.flex {
  display: flex;
}
.show--content {
  margin-top: -50px;
  padding: 10px 30px 10px 10px;
  flex-basis: 73%;
  #map {
    height: 300px;
  }

  .show--content__box {
    box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.1);
    min-height: 300px;
    padding: 47px 50px 32px;
    border-radius: 2px;
    margin-bottom: 19px;
    // border: 1px solid rgba(0, 0, 0, 0.13);
    background-color: #f9f9f9;
    .content-box--label {
      font-size: 0.85em;
      color: #888;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 5px;
    }
    .content-box--text {
      color: rgba(0, 0, 0, 0.5);
      flex: 50%;
    }
    .review-container {
      width: 300px;
    }
  }
}
.badge-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.course-show-container {
  width: 89vw;
  margin: 0 auto;
}
.reviewer-details {
  display: flex;
  align-items: center;
  h3 {
    font-size: 12px;
    margin-left: 0;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
.review p {
  margin-left: 40px;
}

////////// HEXAGON

.hexagon {
  position: relative;
  width: 25px;
  height: 14.43px;
  background-color: $main-green;
  margin: 7.22px 0;
  & + span {
    text-align: center;
    margin-top: 5px;
  }
}

.hexagon:before,
.hexagon:after {
  content: '';
  position: absolute;
  width: 0;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 7.22px solid $main-green;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 7.22px solid $main-green;
}

.water-badge {
  background-color: $blue;
  &.hexagon:before {
    border-bottom-color: $blue;
  }
  &.hexagon:after {
    border-top-color: $blue;
  }
}
.sand-badge {
  background-color: #ffe082;
  &.hexagon:before {
    border-bottom-color: #ffe082;
  }
  &.hexagon:after {
    border-top-color: #ffe082;
  }
}
.trees-badge {
  background-color: $main-green;
  &.hexagon:before {
    border-bottom-color: darken($main-green, 20%);
  }
  &.hexagon:after {
    border-top-color: #795548;
  }
}
