<% profile_image_url = @user.facebook_picture_url || @user.photo.url || "http://placehold.it/110x110" %>

<div class="container-fluid">
  <div class="row user-dashboard">
   <%= render 'shared/user_sidebar' %>
    <div class="user--events-container col-xs-12 col-md-9">
      <div class="user--events">
        <h1>Upcoming Events</h1>
        <% @events.each do |event| %>
        <% if event.invited_users.index(current_user)  %>
          <%= render 'shared/dashboard_event', event: event, friends: @friends %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>

