<div class="user-container">
  <%= render 'shared/user' %>
  <div class="friends-list-container">
    <h1>My Friends</h1>
    <div class="friend-container">
      <img class="avatar-small" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
      <p>Gab Dehan</p>
    </div>
    <div class="friend-container">
      <img class="avatar-small" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
      <p>Gab Dehan</p>
    </div>
    <button>Add friends through Facebook</button>

  </div>
</div>
