<div class="user-profile">
  <%= render 'shared/user' %>
  <div class="user-card">
    <div class="user-add">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </div>
    <div class="user-pic">
      <img src="http://gazettereview.com/wp-content/uploads/2016/03/facebook-avatar.jpg">
    </div>
    <div class="user-details">
      <div class="user-name">
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      </div>
      <div class="user-bio">
        <p>Amateur golfer looking for golf buddies</p>
      </div>
      <div class="user-location">
        <p><i class="fa fa-location-arrow" aria-hidden="true"></i> London</p>
      </div>
    </div>
  </div>
<br>
  <div class="nav nav-pills nav-justified">
    <ul class="list-inline">
      <li><a href="#">Matches</a></li>
      <li class="active"><a href="#">Friends</a></li>
      <li><a href="#">Courses</a></li>
      <li><a href="#">Stats</a></li>
      <li><%= link_to "Add New Course", new_course_path %></li>
    </ul>
  </div>
</div>






<!--
<div class="stats-container">
  <h1>My Statistics</h1>
  <p>Statistics</p>
</div> -->
