
<div class="recap--container">
  <h1>your booking:</h1>

  <div class="recap--container__details">
    <div class="recap-details-box">
      <p class="recap-label">invited:</p>
    </div>
    <div class="recap-details-box">
      <p class="recap-label">date:</p>

    </div>
    <div class="recap-details-box">
      <p class="recap-label"></p>

    </div>
    <div class="recap-details-box">
      <p class="recap-label"></p>

    </div>
  </div>
  <%= link_to "confirm", root_path , class: 'recap-btn-confirm' %>
</div>
