<form action="/courses" class="form-inline search-form searchbar--home"><div class="form-border"><input type="text" name="address" class="form-control autocomplete_input" id="inlineFormInput" placeholder=""></div><button type="submit" class="btn btn-success search-button">Search</button></div></form>
<h1 id="hallo"></h1>
<% content_for(:after_js) do %>
  <script>
    var options = {
      strings: ["London", "Madrid", "Your mom", ""],
      loop: false,
      typeSpeed: 50,
      attr: 'placeholder'
    };
    $('#inlineFormInput').typed(options);
    document.getElementById('inlineFormInput').style.color('white');
  </script>
<% end %>
