<%= form_tag courses_path, remote: true, class: 'form-inline search-form searchbar--home', method: :get do %>
  <div class="form-border">
    <%= text_field_tag :address, '', class: 'autocomplete_input form-control', placeholder: '' %>
  </div>
<% end %>


<% content_for(:after_js) do %>
  <script>
    var options = {
      strings: ["London", "Madrid", "Vicenza", "Dixon's House", "Search"],
      loop: true,
      loopCount: 3,
      typeSpeed: 100,
      attr: 'placeholder'
    };



    $('.autocomplete_input').typed(options);





  </script>
<% end %>
