<form action="/courses" class="form-inline search-form searchbar--home"><div class="form-border"><input type="text" name="address" class="form-control autocomplete_input" id="inlineFormInput" placeholder=""></div></div></form>

<% content_for(:after_js) do %>
  <script>
    var options = {
      strings: ["London", "Madrid", "Vicenza", "Dixon's House", "Search"],
      loop: false,
      loopCount: Infinity,
      typeSpeed: 1,
      attr: 'placeholder'
    };

    var button = document.querySelector('.search-button');
    var input = document.getElementById('inlineFormInput');
    $('#inlineFormInput').typed(options);

    input.addEventListener('input', function (e) {
      if (e.target.value !== '') {
        button.innerText = 'Search'
      }
    })




  </script>
<% end %>
