
<div class="user-sidebar">
  <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
  <h2>Alex Felix</h2>
  <ul>
    <li><a href="#">My Events</a></li>
    <li><a href="#">My Friends</a></li>
    <li><a href="#">My Statistics</a></li>
    <li><a href="#">My Courses</a></li>
  </ul>
</div>



