<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="event-page-container">
        <div class="event-page-details" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <h1>Event Name</h1>
          <p>Golf course name</p>
          <p>Tue 10th Oct 10:00am</p>
        </div>
        <div class="event-page-guests">
          <div class="event-page-guest">
            <div class="event-page-guest-name">
              <img src='https://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar-small"/>
              <p>Author Littmann</p>
            </div>
            <div class="event-page-guest-pay">
              <p>£25</p>
              <button>Paid</button>
            </div>
          </div>
           <div class="event-page-guest">
            <div class="event-page-guest-name">
              <img src='https://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar-small"/>
              <p>Author Littmann</p>
            </div>
            <div class="event-page-guest-pay">
              <p>£25</p>
              <button>Paid</button>
            </div>
          </div>
           <div class="event-page-guest">
            <div class="event-page-guest-name">
              <img src='https://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar-small"/>
              <p>Author Littmann</p>
            </div>
            <div class="event-page-guest-pay">
              <p>£25</p>
              <button>Paid</button>
            </div>
          </div>
           <div class="event-page-guest">
            <div class="event-page-guest-name">
              <img src='https://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar-small"/>
              <p>Author Littmann</p>
            </div>
            <div class="event-page-guest-pay">
              <p>£25</p>
              <button>Paid</button>
            </div>
          </div>
        </div>

      <div class="event-page-scores">
        <h3>Scores</h3>
      </div>
  </div>
</div>

 <div class="map">
    <p>map</p>
 </div>
<div class="event-page-comments">
  <h3>Comments</h3>
  <p>Author: I've paid for everyone</p>
  <p>Alex: Thanks</p>
</div>

