<%= render 'shared/banner' %>
<%= render 'shared/searchbar', page: 'home' %>
<div class="row cards--container">
  <% @courses.each do |course| %>
  <%= render 'shared/course_card', course: course %>
  <% end %>
</div>
