$('#course-list').html(
  "<h4>Your search returned <%= @courses.size %> results:</h4><% @courses.each do |course| %><%= j render 'shared/course_card_draft', course: course %><% end %>"
)

$("body").animate({ scrollTop: window.pageYOffset + $(window).height()}, 600);
