/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: transparent;
  position: fixed;
  left: 0;
  right: 0;
  width: 45%;
  margin: auto;
  border: none;
  color: white;
  font-weight: bold;
}
.alert-warning {
  background: transparent;
  position: fixed;
  left: 0;
  right: 0;
  width: 45%;
  margin: auto;
  border: none;
  color: white;
  font-weight: bold;
}
