.banner {
  height: calc(50vh + 70px);
  // height: 40vh;
  padding-top: 50px;
  width: 100%;
  margin-top: -70px;
  box-shadow: $subtle-shadow, 0 0 10px 1px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    image-url(
      "banner-background.png"
    ); // this should not be here. the background image should be inlined and this image should be used only in the homepage
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .homepage--header {
    font-size: 4em;
    text-align: center;
    color: white;
    font-weight: $font-weight-light;

    margin: 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  }
}
