.search-button {
  background: transparent;
  margin-left: -120px;
  font-size: 1.6em;
  &:hover {
    color: white;
    content: '';
  }
}

.btn-facebook {
  background: #4267b2;
  border-radius: 5px;
  color: white;
  height: 40px;
  text-align: center;
  width: 250px;
  font-weight: bold;
  padding: 10px 15px;
  transition-duration: 0.2s;
  margin: 10px 0 10px 0px;
  &:hover {
    color: white;
    text-decoration: none;
    filter: brightness(1.1);
  }
  &::before {
    font-weight: normal;
    font-size: 24px;
    margin: 2px;
    padding-right: 10px;
    font-family: FontAwesome;
    content: "\f230";
  }
}

.btn-signup p {
  color: white;
  margin: 0;
  display: inline-block;
  // font-weight: 100;
  border: 1px solid $main-green;
  border-radius: 4px;
  transition: $fast-transition;
  padding: 5px 16px;

  &:hover {
    background-color: white;
    color: $main-green;
    border: 1px solid white;
  }
}

.btn-login p {
  color: white;
  margin: 0;
  // font-weight: 100;
  transition: $fast-transition;
  padding: 5px 16px;
  &:hover {
    color: lighten($main-green, 14%);
  }
}

.btn-gray {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  background: $navy;
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
    background: $navy;
    opacity: 0.8;
    color: white;
  }
}

.btn-pay {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $navy;
  transition: $fast-transition;
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
    background: $navy;
    opacity: 0.8;
    color: white;
  }
}
.btn-pay-all {
  width: 100px;
  background: $main-green;
  color: white;
  transition: all .2s;
  border-radius: 8px;
  i {
    line-height: 2;
  }
  &:hover {
    color: white;
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.15);
  }
}
.btn-paid {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $navy;
  color: $navy;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
  i {
    line-height: 2;
  }
}
.btn-to-pay {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: $main-green;
  border: 1px solid $main-green;
  text-decoration: none;
  background-color: transparent;
  &:hover {
    text-decoration: none;
    background-color: $main-green;
    color: transparent;
    color: white;
  }
  i {
    line-height: 2;
  }
}
