.btn-guest {
  display: flex;
  p {
    padding: 10px 0 0 10px;
  }
  img {
    width: 40px;
    border-radius: 50%;
    align-self: center;
  }
}
.btn-timeslots {
  padding-left: 40px;
  padding-right: 40px;
}
.btn-facebook {
  background: #4267b2;
  border-radius: 5px;
  color: white;
  height: 40px;
  text-align: center;
  width: 250px;
  font-weight: bold;
  padding: 10px 15px;
  transition-duration: 0.2s;
  margin: 10px 0 10px 0px;
  &:hover {
    color: white;
    text-decoration: none;
    filter: brightness(1.1);
  }
  &::before {
    font-weight: normal;
    font-size: 24px;
    margin: 2px;
    padding-right: 10px;
    font-family: FontAwesome;
    content: "\f230";
  }
}
.btn-gray {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  background: $navy;
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
    background: $navy;
    opacity: 0.8;
    color: white;
  }
}
.btn-light-gray {
  margin-bottom: 20px;
  border-radius: 5px;
  background: $navy;
  opacity: 0.6;
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
    background: $navy;
    opacity: 0.4;
    color: white;
  }
}
.btn-green {
  margin-bottom: 20px;
  border-radius: 5px;
  background: $main-green;
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: none;
    background: $main-green;
    opacity: 0.8;
    color: white;
  }
}


