.cards--container {
  // margin: 15px 30px;
  margin-top: 80px;
}

.card {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  transition-duration: 0.2s;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
  a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05),
      3px 6px 16px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    .card-overlay {
      transform: translateY(100px);
      z-index: -100;
    }
    .card-background {
      filter: brightness(1.4);
    }
    .card-book-now {
      letter-spacing: 3px;
    }
  }
}
.card-background {
  transition-duration: 0.4s;
  width: 100%;
  height: 270px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-size: cover !important;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  h2 {
    margin-top: 0;
  }
}

.card-overlay {
  padding: 10px 0 10px 10px;
  background: rgba(0, 0, 0, 0.5);
  transition-duration: 0.2s;
  h2 {
    font-size: 1.2em;
  }
  p {
    font-size: 0.8em;
    margin-bottom: 0;
  }
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-direction: column;
  z-index: 100;
  background-color: #f9f9f9;
  flex: 1;
}

.card-book-now {
  background-color: $green;
  flex: 0 0 50%;
  height: 115px;
  display: flex;
  font-size: 1.4em;
  letter-spacing: 2px;
  transition-duration: 0.8s;
  text-transform: uppercase;
  font-weight: 200;
  align-items: center;
  justify-content: center;
  p {
    color: white;
    text-align: center;
  }
  a {
    text-decoration: none;
    padding: 50px;
  }
}

.tag {
  padding: 4px 12px;
  box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-weight: 200;
  &.price {
    font-weight: bold;
  }
}
.tag__green {
  background-color: #6fcf97;
  color: lighten($navy, 8%);
}
.tag__red {
  background-color: #f45858;
}

.card-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  height: 115px;
  .rating {
    color: $main-green;
  }
}

.card-options_top {
  display: flex;
  justify-content: space-around;
}

.card-badges {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 0px;
}
