.new_event,
.dashboard_sidepanel {
  width: 27vw;
}
.recap--container {
  min-height: 700px;
  max-width: 27vw;
  width: 100%;
  background-color: $navy;
  flex-basis: 27%;
  position: sticky;
  top: 80px;
  z-index: 10000;
  margin: 0;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-top: -150px;
  box-shadow: $subtle-shadow, 2px 2px 18px 0 rgba(0, 0, 0, 0.4);
  // padding: 10px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  .recap--container__details {
    flex: 1;
    display: flex;
    flex-direction: column;
    .recap-details-box {
      flex-basis: 25%;
      padding: 10px 25px;
      .recap-label {
        color: rgba(255, 255, 255, 0.88);
        font-size: 0.9em;
        font-family: $headers-font;
      }
      .recap-datetimepicker {
        background-color: lighten($main-green, 20%);
        color: lighten($navy, 15%);
        border-color: black;
        font-family: $base-font;
      }
      span.glyphicon {
        color: #ffc107;
        // color: $navy;
      }
      .input-group-addon {
        background-color: $main-green;
        border-color: black;
      }
    }
  }
  .recap-invites {
    display: flex;
    justify-content: space-around;
    img {
      // border: 1px solid $main-green;
      box-shadow: $subtle-shadow;
      border-radius: 50%;
      width: 60px;
      align-self: center;
    }
  }
  h1 {
    color: white;
    font-size: 1.2em;
    text-align: center;
  }
  .recap-btn-confirm {
    appearance: none;
    border: none;
    color: $navy;
    width: 100%;
    background-color: darken($main-green, 5%);
    text-align: center;
    border-radius: 0 0 4px 4px;
    padding: 20px 10px;
    transition: $fast-transition;
    letter-spacing: 3px;
    font-size: 1.2em;
    font-weight: $font-weight-bold;
    &:hover {
      background-color: $main-green;
    }
  }
}

.event-checkbox-label {
  transition: all 0.1s ease-in;
}
.event-checkbox:checked {
  & + .event-checkbox-label {
    box-shadow: 0 0 0 3px $main-green;
  }
}
.event-checkbox-container {
  display: flex;
  flex-wrap: wrap;
  .event-checkbox-label {
    border-radius: 50%;
    align-self: center;
    width: 60px;
    height: 60px;
  }
}
.recap-details-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
  font-size: 1.6em;
  text-align: center;
  background-color: lighten($navy, 15%);
  padding: 20px 0;
  border-radius: 100px;
  margin-bottom: 20px;
  p {
    margin: 0;
  }
}

.pac-container {
  background-color: transparentize($main-green, 0.2);
  .pac-item {
    border-color: darken($main-green, 25%);
    color: white;
    &:hover {
      background-color: transparentize(darken($main-green, 18%), 0.2);
    }
  }
  .pac-item-query {
    color: white;
  }
  .pac-icon {
    color: #ffc107;
  }
}
