.user-dashboard {
  min-height: calc(100vh - 140px);
  margin-top: 15px;
  padding: 0 100px;
}

.user--profile-info-container {
  background-color: #f5f5f5;
  min-height: 70vh;
  padding-top: 10px;
  .user--profile-info {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    justify-content: center;
    margin-bottom: 20px;
    .user--profile-info__avatar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      img {
        border-radius: 10px;
        margin-top: 20px;
        box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.22);
        width: 200px;
        height: 200px;
      }
      h3 {
        font-size: 1.2em;
        color: lighten($navy, 15%);
      }
    }
    .user--profile-info__details {
      font-size: 0.95em;
      padding: 40px 40px 20px;
      color: #5f5f5f;
      a {
        color: $main-green;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .user--profile-info__friends {
      padding: 20px 40px;
      h5 {
        font-weight: $font-weight-bold;
      }
      img {
        border-radius: 3px;
        margin: 3px;
        width: 50px;
        height: 50px;
      }
      .user--friends-count {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        p {
          font-size: 1.2em;
        }
        a {
          color: $main-green;
          border-radius: 4px;
          padding: 15px;
          border: 1px solid $main-green;
          transition: $fast-transition;
          background-color: $main-green;
          color: white;
          i {
            margin-right: 10px;
          }
          &:hover {
            transform: translateY(-2px);
            box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.22);
          }
        }
      }
    }
  }
}

.user--events-container {
  min-height: 70vh;
  background-color: #f5f5f5;
  // background-color: blue;
  .user--events {
    background-color: #f5f5f5;
  }
}
