.user-profile {
  background-color: #f4f4f4;
  width: 60vw;
  margin: 20px auto;
}
.user-card {
  display: flex;
  justify-content: flex-start;
  // border: 1px solid black;
}

.user-pic {
  img {
    width: 20vh;
    height: 20vh;
  }
}
.user-details {
  border-radius: 2px;
  border: 1px solid $navy;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  background-color: #f9f9f9;
  color: black;
}
.user-name {
  h2 {
    margin: 0;
  }
}

.user-bio {
  p {
    color: lighten($navy, 25%);

    margin: 0;
  }

}
.user-stuff {
  width: 50vw;
  display: flex;
  justify-content: space-between;
}
.user-friend {
  p {
    margin: 0;
  }
}

.user-location {
  p {
    margin: 0;
  }
}

.user-add {
  p {
    margin: 0;
  }
}
